.popup {
  position: fixed;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.4);
  inset: 0;
  .auth-card {
    position: absolute;
    z-index: 1010;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 16px 16px 0;
    background-color: white;
    border-radius: 16px;
    max-width: 80vw;
    min-width: 600px;
    min-height: 400px;
    max-height: 90vh;
    height: 650px;
    display: flex;
    flex-direction: column;

    .form-section {
      padding-inline: 80px;
      flex-grow: 1;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      h2 {
        font-size: 32px;
        line-height: 36px;
        margin-block: 20px;
      }
      .inputs {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 12px;
      }

      .auth-btn {
        width: 100%;
        border-radius: 999px;
        min-width: 52px;
        min-height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: var(--black);
        opacity: 0.5;
        color: var(--white);
        font-size: 17px;
        margin-top: auto;
        margin-bottom: 24px;
      }
    }

    .close-section {
      height: 53px;
      margin-left: -8px;
      margin-top: -8px;
      svg {
        color: var(--dark-gray);
      }
    }
    @media screen and (max-width: 760px) {
      inset: 0;
      transform: unset;
      border-radius: 0;
      max-width: 100%;
      min-width: 300px;
      max-height: 100%;
      height: 100%;
      .close-section .icon-wrap {
        width: 48px;
        height: 48px;
        svg {
          width: 26px;
          height: 26px;
        }
      }
      .form-section {
        padding-inline: 12px;
      }
    }
  }
  @media screen and (max-width: 760px) {
    background-color: var(--white);
  }
}
