.feed-aside {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
  width: $feed-aside-inner-width-l;
  margin-left: auto;
  margin-right: 10px;

  .who-to-follow,
  .trends {
    border-radius: 16px;
    background-color: var(--extra-extra-light-gray);
    .title {
      font-size: rem(20px);
      padding: 12px 16px;
      font-weight: 800;
      line-height: 24px;
    }
  }

  .trends .trend-preview:last-child {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .who-to-follow .user-preview:last-child {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}
