.feed-aside {
  position: fixed;
  top: $header-height;
  right: calc((100% - $mobile-breakpoint) / 2);

  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
  width: $feed-aside-inner-width-s;
  margin-left: auto;
  margin-right: 10px;

  .who-to-follow,
  .trends {
    border-radius: 16px;
    background-color: var(--extra-extra-light-gray);
  }

  .trends .trend-preview:last-child {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .who-to-follow .user-preview:last-child {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}
