.main-header {
  position: fixed;
  // background-color: white;
  z-index: 100;
  // background-color: red;

  height: $header-height;
  display: grid;

  grid-template-columns: $sidebar-width-xs $main-content-width $feed-aside-width-s;
  align-items: center;

  .logo-container {
    // transform: translateX(calc(24px - 50% + 15px));
    width: 50px;
    margin-inline: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    svg {
      fill: currentColor;
      color: var(--blue);
      height: 30px;
    }

    transition: background-color 0.2s;
    &:hover {
      background-color: rgba(29, 155, 240, 0.1);
    }
  }

  .main-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 16px;
    height: 100%;
    border-inline: $border;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(12px);
    cursor: pointer;
    .view-title {
      font-size: rem(20px);
    }
  }

  .search-bar {
    margin-right: 12px;
  }

  .heading {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    .view-title {
      line-height: 24px;
      padding-block: 2px;
    }
    small {
      font-size: rem(13px);
      color: var(--dark-gray);
      line-height: 16px;
    }
  }

  //FIXES FOR LOCATION CHANGE:
  &.explore {
    .search-bar {
      width: 100%;
      margin-right: 0;
    }
  }

  &.profile {
    .main-view {
      justify-content: flex-start;
      gap: 24px;
    }
  }

  &.search {
    .search-bar {
      width: 100%;
      margin-right: 0;
    }
    .main-view {
      justify-content: flex-start;
      gap: 24px;
    }
  }
}
