.post-preview {
  border-bottom: $border;
  padding: 12px 16px;
  display: grid;
  grid-template-columns: 48px 1fr;
  column-gap: 12px;
  cursor: pointer;
  line-height: 20px;

  .pipe-top {
    height: 12px;
    background-color: var(--light-gray);
    margin-bottom: 4px;
    width: 2px;
    display: block;
    justify-self: center;
    align-self: end;
    margin-top: -12px;

    opacity: 0;
  }

  .left-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pipe {
    background-color: var(--light-gray);
    margin-top: 4px;
    height: calc(100% + 12px);
    width: 2px;
    display: block;
    margin-bottom: -12px;

    opacity: 0;
  }
  .user-img {
    grid-area: img;
    border-radius: 50%;
  }

  .right-wrapper {
    display: flex;
    flex-direction: column;
  }
  .header {
    display: flex;
    gap: 4px;
    color: var(--dark-gray);
    margin-bottom: 2px;

    .full-name {
      color: var(--black);
      font-weight: 700;
    }
  }

  .post-content {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .post-text {
      .tag {
        color: var(--blue);
        @media (hover: hover) {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .post-img {
      border-radius: 16px;
    }
  }

  .options {
    display: flex;
    grid-area: options;
    align-items: flex-end;
    height: 32px;
    font-size: rem(13px);
    color: var(--dark-gray);
    margin-left: -7px;
    .icon-container {
      min-width: 80px;
      flex: 1;
    }
    .icon {
      width: max-content;
      height: 20px;
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: 13px;
      cursor: pointer;
      svg {
        height: 100%;
        fill: currentColor;
      }
      &.like.selected {
        color: var(--red);
      }
      @media (hover: hover) {
        &.comment:hover {
          color: var(--green);
          .icon-wrap {
            background-color: var(--green-hover);
          }
        }
        &.like:hover {
          color: var(--red);
          .icon-wrap {
            background-color: var(--red-hover);
          }
        }
        &.share:hover {
          color: var(--blue);
          .icon-wrap {
            background-color: var(--blue-hover);
          }
        }
        &.bookmark:hover {
          color: var(--dark-gray);
          .icon-wrap {
            background-color: var(--gray-hover);
          }
        }
      }
    }
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--extra-extra-light-gray);
    }
  }

  .msg-top {
    color: var(--dark-gray);
    grid-template-columns: 48px 1fr;
    column-gap: 12px;
    width: 100%;
    grid-column: span 2;
    display: grid;
    align-items: center;
    .group-msg {
      transform: translateY(-4px);
      font-size: rem(13px);
      font-weight: 700;
    }
    .group-icon {
      transform: translateY(-4px);
      fill: currentColor;
      width: 16px;
      height: 16px;
      justify-self: end;
    }
  }

  &.with-msg.bottom {
    // align-items: center;
    grid-column: span 2;
    align-items: center;
    color: var(--dark-gray);

    .group-msg {
      // transform: translateY(-4px);
      grid-area: group-msg;
      color: var(--dark-gray);
      line-height: 20px;
    }
    // .group-icon {
    //   transform: translateY(-4px);
    //   grid-area: group-icon;
    //   fill: currentColor;
    //   width: 16px;
    //   height: 16px;
    //   justify-self: end;
    // }
  }
}

.post-group {
  .post-preview:not(:last-child) {
    border: none;
    .pipe {
      opacity: 1;
    }
  }
  .post-preview:not(:first-child) {
    .pipe-top {
      opacity: 1;
    }
  }
}
