.trends {
  .title {
    font-size: rem(20px);
    font-weight: 800;
    padding: 12px 16px;
    line-height: 24px;
  }
  .trend-list {
    display: flex;
    flex-direction: column;
  }
  .trend-preview {
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    .tag,
    .tweet-count {
      font-size: rem(13px);
      color: var(--dark-gray);
    }
    .trend-name {
      font-size: rem(15px);
      margin-block: 2px 4px;
    }

    &:hover {
      background-color: var(--extra-light-gray);
    }
  }
}
