.tweet-edit {
  display: grid;
  grid-template-areas: 'img content' '. options';
  grid-template-columns: 48px 1fr;
  column-gap: 16px;
  padding: 12px 16px;
  border-bottom: $border;

  .user-img {
    grid-area: img;
  }
  .content {
    grid-area: content;
    font-size: rem(20px);
    font-family: chirp;
    display: flex;
    align-items: center;
    color: var(--dark-gray);
    padding-block: 12px;
  }
  .options {
    grid-area: options;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: var(--blue);
    .icons {
      display: flex;
      align-items: center;

      .icon-wrap {
        &:hover {
          background-color: var(--blue-hover);
        }
      }
    }

    .tweet-btn {
      height: 36px;
      padding-block: 0;
      opacity: 0.5;
    }
  }
}

.popup {
  position: fixed;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.4);
  inset: 0;
  .tweet-edit {
    position: absolute;
    z-index: 1010;
    left: 50%;
    transform: translateX(-50%);
    top: $header-height;
    padding: 16px;
    background-color: white;
    border-radius: 16px;
    max-width: 80vw;
    max-height: 90vh;
    min-width: 600px;
    overflow: hidden;
  }
}
