.user-preview {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;

  .img-container {
    margin-right: 12px;
    display: flex;
    .user-img {
      width: 48px;
      height: 48px;
    }
  }

  .preview-content {
    width: 100%;
  }

  .user-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .full-name {
        font-size: 1rem;
        line-height: 20px;
        margin-bottom: 2px;
        width: fit-content;
      }

      .username {
        font-size: 1rem;
        line-height: 20px;
        color: var(--dark-gray);
      }
    }
    .follow-btn {
      grid-area: follow;
      &:hover {
        background-color: var(--black-hover);
      }
    }
  }

  .description {
    display: none;
    padding-top: 7px;
  }

  &:hover {
    background-color: var(--extra-light-gray);
  }
}
