* {
  box-sizing: border-box;
}

html {
  font-family: chirp;
  line-height: 1.6;
  color: var(--black);
  font-size: 15px;
}

body {
  margin: 0;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1;
}

p {
  margin: 0;
}

img,
video {
  width: 100%;
}

a,
a:visited {
  text-decoration: none;
  color: unset;
}

button,
.btn {
  appearance: none;
  border: none;
  background-color: unset;
  font-size: rem(16px);
  padding: 16px 24px;
  cursor: pointer;
  font-family: chirp;
  font-weight: 700;

  &.pill {
    border-radius: 8rem;
  }

  &.primary {
    background-color: var(--blue);
    color: white;
  }

  &.black {
    font-size: rem(14px);
    padding: 0 16px;
    height: 32px;
    width: fit-content;
    background-color: var(--black);
    color: white;
    &:hover {
      background-color: var(--black-hover);
    }
  }

  &.white {
    font-size: 1rem;
    padding: 0 16px;
    height: 34px;
    width: fit-content;
    background-color: transparent;
    color: var(--black);
    border: $border;
    border-color: #cfd9de;
    &:hover {
      background-color: var(--extra-extra-light-gray);
    }
  }
}
