.user-img {
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
  border-radius: 50%;
  background-color: #fff;
  object-fit: cover;
}

.icon-wrap {
  display: flex;
  width: 34px;
  height: 34px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  svg {
    fill: currentColor;
    color: inherit;
    height: 20px;
    width: 20px;
  }

  transition: background-color 0.2s;
  @media (hover: hover) {
    &:hover {
      background-color: var(--extra-light-gray);
    }
  }

  .sm {
    svg {
      height: 18.75px;
      width: 18.75px;
    }
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.link {
  cursor: pointer;
  @media (hover: hover) {
    &:hover {
      text-decoration: underline;
    }
  }
}

.trunc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-wrapper {
  height: 58px;
  width: 100%;
  display: block;
  position: relative;
  border-radius: 4px;
  border: $border;
  border-color: var(--light-gray);
  .placeholder {
    position: absolute;
    user-select: none;
    top: 0;
    padding-top: 16px;
    z-index: 100;
    font-size: rem(17px);
    line-height: 24px;
    color: var(--dark-gray);
    padding-inline: 8px;
    transition: -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
      transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
      color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
      font-size 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
      padding-top 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  }
  input {
    border-radius: 4px;
    position: absolute;
    inset: 0;
    border: none;
    padding-inline: 8px;
    margin-top: 16px;
    padding-block: 12px 8px;
    line-height: 24px;
    font-size: 17px;
    color: var(--black);
    &:focus-visible {
      outline: none;
    }
  }

  &:has(input:focus, input:not(:placeholder-shown)) {
    .placeholder {
      padding-top: 8px;
      font-size: small;
      line-height: 16px;
    }
  }
  &:has(input:focus) {
    box-shadow: 0 0 0 1px var(--blue);
    border-color: var(--blue);
    .placeholder {
      color: var(--blue);
    }
  }
}

// background-color: rgba(29, 155, 240, 0.1);

// background-color: rgba(0, 186, 124, 0.1);

// color: rgb(0, 186, 124);
