.card {
  padding: 42px;
  background-color: #fff;
  box-shadow: $shadow;
  border-radius: 8px;
}

// flex helpers

.flex {
  display: flex;

  > *.full {
    flex: 1;
  }
  &.column {
    flex-direction: column;
  }
  &.justify-center {
    justify-content: center;
  }
  &.align-center {
    align-items: center;
  }
}

// Media helpers

.square-ratio {
  @include aspect-ratio(1, 1);
}
.video-ratio {
  @include aspect-ratio(16, 9);
}
.portrait-ratio {
  @include aspect-ratio(9, 16);
}
