#root {
  display: grid;
  grid-template-columns: 1fr minmax(0, $app-max-width) 1fr;
  grid-template-areas: '. app .';
}

.main-app {
  grid-area: app;
  display: grid;
  grid-template-columns: $sidebar-width-l $main-content-width $feed-aside-width-l;
  grid-template-rows: min-content 1fr;
  grid-template-areas: 'header header header' 'sidebar content aside';
  min-height: 100vh;
  .main-header {
    grid-area: header;
  }
  .main-content {
    border-inline: $border;
  }
}
