.post-details {
  .post-group.main {
    .post-preview.main {
      display: flex;
      flex-direction: column;

      @media (hover: hover) {
        &:hover {
          background-color: unset;
          cursor: auto;
        }
      }
      .composer-details {
        display: flex;
        column-gap: 12px;
        .header {
          flex-direction: column;
          gap: 2px;
          justify-content: center;
        }
      }
      .group-msg {
        padding-top: 12px;
      }
      .post-content {
        font-size: rem(23px);
        margin-top: 16px;
        line-height: 28px;
      }
      .time-bar {
        grid-area: time-bar;
        margin-block: 16px;
        display: flex;
        gap: 4px;
      }
      .stats {
        grid-area: stats;
        padding: 16px 4px;
        border-block: $border;
        display: flex;
        gap: 24px;
      }
      .options {
        justify-content: space-evenly;
        .icon-container {
          display: flex;
          justify-content: center;
          .icon .amount {
            display: none;
          }
        }
      }
    }
  }
}
