// Colors
// $blue: #1da1f2;
// $black: #14171a;
// $dark-gray: #657786;
// $light-gray: #aab8c2;
// $extra-light-gray: #e1e8ed;
// $extra-extra-light-gray: #f5f8fa;

:root {
  --blue: #1da1f2;
  --black: #14171a;
  --dark-gray: #657786;
  --light-gray: #aab8c2;
  --extra-light-gray: #e1e8ed;
  --extra-extra-light-gray: #f5f8fa;
}

// sizes
$app-max-width: 1265px;
$main-content-width: 598px;
$sidebar-width-l: 275px;
$sidebar-width-s: 88px;
$feed-aside-width-l: $app-max-width - $sidebar-width-l - $main-content-width;
$feed-aside-inner-width-l: 350px;
$feed-aside-width-s: 290px;

//utils
$border: 1px solid var(--extra-light-gray);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

$sitePadding: 36px;
