// Colors
// $blue: #1da1f2;
// $black: #14171a;
// $dark-gray: #657786;
// $light-gray: #aab8c2;
// $extra-light-gray: #e1e8ed;
// $extra-extra-light-gray: #f5f8fa;

:root {
  --blue: #1d9bf0;
  --green: #00ba7c;
  --red: #f91880;
  --black: #0f1419;
  --dark-gray: #536471;
  --light-gray: #eff3f4;
  --extra-light-gray: #eff3f4;
  --extra-extra-light-gray: #f7f9f9;

  --blue-hover: #1da1f21a;
  --green-hover: #00ba7c1a;
  --red-hover: #f918801a;
  --black-hover: rgb(39, 44, 48);
}

// Breakpoints
$mobile-breakpoint: 988px;
$narrow-breakpoint: 1078px;
$normal-breakpoint: 1265px;

// sizes
$app-max-width: 1265px;
$main-content-width: 598px;
$sidebar-width-l: 275px;
$sidebar-width-s: 88px;
$sidebar-width-xs: 68px;
$feed-aside-width-l: $normal-breakpoint - $sidebar-width-l - $main-content-width;
$feed-aside-inner-width-l: 350px;
$feed-aside-inner-width-s: 290px;
$feed-aside-width-s: 320px;

$header-height: 53px;

//utils
$border: 1px solid var(--extra-light-gray);

$sitePadding: 36px;
